.main_layout{
  position: relative;
  display: flex;
  flex-direction: column;

  .main_layout__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 30px;
    padding: 20px 30px;

    @media (min-width: '850px') {
      flex-direction: row;
    }
  }

  .main_content{
    min-height: 600px;
  }
}