@import "@/assets/styles/abstracts/index.scss";

.main_content {
  padding: 0;
  position: relative;
  border-radius: 10px;

  .main_content__header {
    margin: 0;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    border-bottom: 2px solid $muted;
    font-size: 17px;

    .main_content__header__title {
      width: 100%;
      font-weight: 500;
      text-transform: capitalize;
    }
    .main_content__header__subtitle {
      font-weight: 500;
      color: $text_muted;
    }
  }

  .main_content__body {
    display: grid;
    overflow-y: auto;
    padding: 10px 10px 50px 10px;
    max-height: 500px;
    width: 100%;

    .message_user img,
    .message_center img{
      width: 180px;
    }
    
    .message_user video,
    .message_center video{
      width: 180px;
    }

    .message_user,
    .message_center {
      justify-self: start;
      align-self: baseline;
      max-width: 260px;
      border-radius: 20px;
      display: inline-block;
      padding: 15px;
      margin: 10px 20px;
    }
    .message_user {
      background: $muted_dark;
      color: $text_dark;
      position: relative;

      &::before {
        content: "";
        height: 0px;
        width: 0px;
        position: absolute;
        border-right: solid 20px $muted_dark;
        border-bottom: solid 15px transparent;
        border-top: solid 15px transparent;
        z-index: 5;
        left: -10px;
        bottom: 0px;
        transform: rotate(-20deg);
      }
    }
    .message_center {
      justify-self: end;
      text-align: end;
      background: $primary;
      color: $white;
      position: relative;

      &::before {
        content: "";
        height: 0px;
        width: 0px;
        position: absolute;
        border-left: solid 20px $primary;
        border-bottom: solid 15px transparent;
        border-top: solid 15px transparent;
        z-index: 5;
        right: -10px;
        bottom: 0px;
        transform: rotate(20deg);
      }
    }
  }

  .main_content__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: $white;
    z-index: 10;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .main_content__footer__input {
      width: 100%;
      padding: 20px;
      border-top: 2px solid $muted;
      color: $muted_dark;
      font-size: 16px;
    }
    .main_content__footer__buttons {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      .main_content__footer__buttons__icons {
        padding: 10px 5px;
        color: $text_muted;

        @media (min-width: "850px") {
          padding: 10px 15px;
        }
      }
      .main_content__footer__buttons__send {
        color: $text_dark;
        padding: 10px;
        font-weight: 600;
      }
    }
  }
}

.button_document{
  font-weight: 500;
  font-size: 15px;
}