@import "@/assets/styles/abstracts/index.scss";
:root.dark-theme{
    .theme{
        -webkit-box-shadow: $shadow2;
        -moz-box-shadow: $shadow2;
        box-shadow: $shadow2;
    }
}
.theme {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 999px;
  width: 50px;
  height: 50px;
  background: $primary;
  z-index: 30;

  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
