<script setup>
const props = defineProps(["conversation", "loading"]);
</script>
<template>
  <div class="flex-1">
    <div class="main_content flex flex-col p-1">
      <div class="main_content__header">
        <p class="main_content__header__title">whatsapp</p>
        <p class="main_content__header__subtitle">+52-333-333-44-55</p>
      </div>
      <div class="main_content__body">
        <div class="loader" v-if="conversation.length <= 0 && loading">
          {{ conversation.length }}
        </div>
        <div
          v-else
          v-for="item in conversation"
          :key="item._id"
          :class="
            item?.message?.typeUser === 'Client'
              ? 'message_user'
              : 'message_center'
          "
        >
          <img
            v-if="item?.message?.type === 'image'"
            :src="item?.message?.multimedia?.thumbnail"
            alt="Imagen"
          />
          <video
            v-if="item?.message?.type === 'video'"
            :src="item?.message?.multimedia?.file"
            :poster="item?.message?.multimedia?.thumbnail"
          />
          <button v-if="item?.message?.type === 'document'" class="button_document">
            <v-icon name="hi-document-text" scale="1.5" />
            <p>Documento.{{ item?.message?.multimedia?.ext }}</p>
          </button>
          <p v-else>{{ item?.message?.text }}</p>
        </div>
      </div>
      <div class="main_content__footer">
        <input
          placeholder="Escribe un mensaje"
          class="main_content__footer__input"
          type="text"
        />
        <div class="main_content__footer__buttons">
          <button class="main_content__footer__buttons__icons">
            <v-icon name="fa-microphone" />
          </button>
          <button class="main_content__footer__buttons__icons">
            <v-icon name="ri-attachment-2" />
          </button>
          <button class="main_content__footer__buttons__send">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/components/main_content.scss";
</style>
