<script setup>
import useRightsidebar from "@/composables/chat/rightsidebar";
defineProps(["multimedia", "user"]);

const { getUserHour, getMultimedia } = useRightsidebar();
</script>
<template>
  <div class="rightsidebar_container">
    <div class="leftsidebar_content">
      <div class="leftsidebar_content__header">
        <p>
          {{ user.name }}
        </p>
        <p>{{ getUserHour(user.createdAt) }}</p>
      </div>
      <div class="leftsidebar_content__body">
        <div class="leftsidebar_content__body__image">
          <v-icon name="fa-user-circle" scale="10" color="#162841" />
        </div>

        <div class="leftsidebar_content__body__data">
          Multimedia
          <span class="leftsidebar_content__body__data__counter">{{
            getMultimedia(multimedia)
          }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/components/rightsidebar_content.scss";
</style>
