:root {
  body {
    background-color: $body;
  }
}

:root.dark-theme {
  body {
    background-color: $body_dark;
  }
}

:root {
  .main_content {
    background: $white;
    color: $text_dark;

    .main_content__footer{
      .main_content__footer__input{
        color: $text_dark;
      }
    }
  }
}

:root.dark-theme {
  .main_content,
  .main_content__footer {
    background: $dark;
    color: $white;
    .main_content__footer__input{
      color: $white;
    }
    .main_content__footer__buttons {
      .main_content__footer__buttons__send {
        color: $white;
      }
    }
  }
}

:root.dark-theme {
  .main_layout,
  .main_layout__content {
    color: $white;
  }
}

:root {
  .leftsidebar_container {
    .leftsidebar_content {
      background: $white;
    }
  }
}

:root.dark-theme {
  .leftsidebar_container {
    .leftsidebar_content {
      background: $dark;
      .leftsidebar_content__header {
        color: $white;
      }
      .leftsidebar_content__body {
        color: $white;

        .leftsidebar_content__body__content {
          .leftsidebar_content__body__content__items {
            color: $white;
            font-size: 16px;
            &:hover {
              background: $muted_dark_mode;
            }
          }
        }
      }
    }
  }
}

:root {
  .rightsidebar_container {
    .leftsidebar_content {
      background: $white;
    }
  }
}

:root.dark-theme {
  .rightsidebar_container {
    .leftsidebar_content {
      background: $dark;
      color: $white;
    }
  }
}
