$shadow: 2px 6px 7px 0px rgba(145, 145, 145, 0.66);
$shadow2: 2px 6px 7px 0px rgba(68, 68, 68, 0.66);

.text_muted {
  color: $text_muted;
}

.text-center{
    text-align: center;
}

.font-bold{
    font-weight: 600;
}

.p-1 {
  padding: 10px 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-none {
  width: 380px;
  flex: none;
}

.flex-1 {
  flex: 1 1 0%;
}
